@font-face {
  font-family: ADC;
  src: font-url('ADC-Semi-Bold') format('opentype');
}
@font-face {
  font-family: Pragmatica;
  src: font-url('PRG65') format('opentype');
}
@font-face {
  font-family: Inter;
  src: font-url('Inter') format('truetype');
}
